.container {
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25); }

.col {
  text-align: center; }

img {
  width: 100%; }

/*estilos bases*/
h1 {
  text-align: center; }

/*estilos index*/
#index-img2 {
  width: 50%;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25); }
  #index-img2:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1; }

.nav-logo {
  width: 20%; }

/*efecto imagenes */
wrapper {
  padding: 0px;
  width: 820px;
  height: auto;
  margin: auto;
  overflow: hidden; }

.image-container {
  float: left;
  width: 250px;
  height: 200px;
  position: relative;
  margin: 10px;
  cursor: pointer; }

.image-container img {
  position: absolute; }

.image-caption {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out; }

.image-caption h1 {
  padding: 45px 0px 5px 0px;
  text-align: center;
  margin-left: -15px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: #00bfb6; }

.image-caption p {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  color: #fff; }

.image-container:hover .image-caption {
  opacity: 1; }

/*****************************/
@media (min-width: 240px) {
  body {
    background-color: yellow; } }

@media (min-width: 600px) {
  body {
    background-color: blue; } }

@media (min-width: 1024px) {
  body {
    background-color: red; } }

/*estilos vida.html*/
.vida-img1 {
  width: 30%;
  align-content: center; }
  .vida-img1:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d; }

/*
estilos comercio.html
*/
.comercio-img1 {
  width: 50%; }
  .comercio-img1:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1; }

/*footer*/
.footer-cont {
  background-color: #1c2331; }

.footer-section-redes-sociales {
  background-color: #0099ff; }

.footer-hr {
  width: 60px;
  background-color: #0099ff;
  height: 2px; }

.footer-div-Copyright {
  background-color: rgba(0, 0, 0, 0.2); }

.foo-logo {
  width: 10%; }

/*estilos botones*/
.btn {
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .btn:hover {
    color: black; }
  .btn:after {
    content: "";
    background: #0099ff;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s; }

button {
  height: 50px;
  width: 300px; }
  button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

/*estilos Autos*/
/*estilos autos*/
.auto-img1 {
  width: 50%;
  align-content: center; }

.auto-parrafo1 {
  animation-duration: 20s;
  animation-name: parrafomoviendose;
  animation-iteration-count: infinite; }

@keyframes parrafomoviendose {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
